
<div [formGroup]="pizzaForm">

  <div>
    <label>Pizza</label>
    <select class="form-control" formControlName="pizza">
      <option *ngFor="let pizza of pizzas" [value]="pizza._id">{{pizza.name}} -- ${{pizza.price}}</option>
    </select>
    <small [hidden]="pizzaForm.controls.pizza.valid">
      Pizza is required
    </small>
  </div>

  <div>
    <label>Quantity</label>
    <input type="number" class="form-control" formControlName="quantity"/>
    <small [hidden]="pizzaForm.controls.quantity.valid" class="text-danger">
      Quantity is required
    </small>
  </div>


</div>
